/*START Home Page */

.home-image {
  background-image: url(../assets/images/IEEE\ HOME\ IMAGE.png);
  height: 52.6vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home-shader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.51);
}
.home-main-headers {
  position: relative;
  top: 21.3%;
  color: white;
  font-size: 61px;
  line-height: 81px;
  font-weight: bold;
  border: none;
}

#circle-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  height: 40px;
  width: 80px;
}
.circles {
  position: relative;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
}
.active-circle {
  background-color: white !important;
}
.container-bio {
  position: relative;
  min-height: 56.7vh;
  display: flex;
  align-items: center;
}
.who-we-are-section {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.little-boxes-container {
  position: relative;
  width: 15px;
  height: 60%;
  background-color: #00287a;
  opacity: 0.16;
}
#box1 {
  position: absolute;
  left: 0px;
  width: 12px;
  top: 20%;
}
#box2 {
  position: absolute;
  width: 30%;
  height: 12px;
  margin: auto;
  text-align: center;
}
.who-we-are-content {
  position: relative;
  left: 10%;
}
#who-we-are-header {
  font-size: 2em;
  font-weight: bold;
  margin-top: 4rem;
}
#who-we-are-paragraph {
  font-size: 1.5em;
  line-height: 37px;
}
@media (max-width: 992px) {
  .who-we-are-content {
    position: relative;
    left: -28%;
    width: 35%;
  }
}
.team-image-section {
  width: 50%;
  height: 80%;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}
#team-image {
  width: 60%;
  height: 80%;
  background-image: url(../assets/images/Group\ 4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.last-events {
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#last-events-title {
  display: flex;
  width: 100%;
  justify-content: center;
}
#view-all-events {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 29px;
  font-weight: 600;
  text-decoration: none;
}
#last-events-header {
  position: relative;
  top: 0px;
  font-size: 44px;
  font-weight: bold;
}
.event-container {
  position: relative;
  width: 30%;
  min-height: 47.6vh;
}
.events-holder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-between;
  margin-top: 5vh;
}
.event-tech-img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60%;
  width: 100%;
  background-image: url(../assets/images/Event\ Technology_0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}
.event-details {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 5%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.event-decore {
  position: relative;
  top: 0;
  height: 10px;
  width: 100%;
  background-color: #00287a;
}
.event-name {
  flex-direction: row;
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
  text-align: center;
}
.event-dates {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 20px;
}
.dates {
  font-size: 0.7em;
}
.event-paragraph {
  font-size: 1em;
  text-align: center;
  font-family: Roboto;
  width: 100%;
  line-height: 37px;
  margin-bottom: 50px;
}
.event-go {
  position: absolute;
  bottom: 10px;
  left: 30%;
  height: 20%;
  width: 40%;
  border-radius: 15px;
  background-color: #00287a;
  font-size: 22px;
  margin-top: 5px;
  color: white;
  line-height: 30px;
  border: none;
}
.article-holder {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 49.3vh;
  width: 100%;
}
.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 30%;
  margin: 0px;
  margin-top: 5vh;
  border: 8px solid rgba(0, 40, 122, 0.04);
}
.article-image {
  position: relative;
  width: 100%;
  min-height: 50%;
  top: 10px;
  border-radius: 15px;
  background-image: url(../assets/images/photo_٢٠٢١-١١-٢٦_٠٠-٣٢-٢٣.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.member-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18vw;
  margin: 0px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  border-radius: 15px;
}
.member-image {
  overflow: hidden;
  position: relative;
  width: 13rem;
  height: 13rem;
  top: 10px;
  background-color: lightgray;
  background-image: url(../assets/images/pp-removebg-preview.png);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.member-decoration {
  position: absolute;
  width: 16vw;
  height: 16vw;
  top: 0px;
  left: 0.2vw;
  border-radius: 15px;
  background-color: #00287a;
  border-radius: 50%;
  background-position: center;
}
.member-removal {
  position: absolute;
  width: 50%;
  height: 17vw;
  right: 0px;
  background-color: white;
  border-radius: 50%;
  background-position: center;
}
.member-holder {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.member-details {
  position: relative;
  top: 10px;
}
.member-reflexive{
  margin-bottom: 6rem;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
}
.article-description {
  font-size: 1.3em;
  line-height: 31px;
  width: 80%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media all and (max-width: 1000px) {
  .who-we-are-section {
    width: 100%;
  }
  .container-bio {
    display: flex;
    align-items: center;
  }
  .team-image-section {
    width: 60rem;
    height: 30rem;
    position: relative;
    top: 3vh;
    margin-left: 5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #team-image {
    width: 50%;
    margin-left: -743px;
  }
  #view-all-events {
    display: none;
  }
  .event-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .event-details {
    position: relative;
    left: 0px;
    top: 6rem;
  }
  .event-paragraph {
    font-size: 2em;
    margin: 5px;
    position: relative;
  }
  .event-name {
    margin-bottom: 3px;
    font-size: 3em;
    position: relative;
  }
  .dates {
    margin-bottom: 2px;
    font-size: 1em;
    position: relative;
  }
  .event-go {
    position: relative;
    margin-top: 8rem;
    bottom: 2rem;
    margin-bottom: 0;
    font-size: 2em;
    height: 6rem;
    width: 20rem;
  }
  .prev,
  .next {
    top: 25%;
  }
  .article-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 60vh;
    width: 100%;
  }
  .article-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 0vh;
    width: 100%;
    margin: 0px;
    margin-top: 5vh;
    padding: 2rem;
    border-radius: 15px;
    border: 8px solid rgba(0, 40, 122, 0.04);
  }
  .article-dates {
    text-align: center;
  }
  .article-image {
    position: relative;
    top: 0;
    height: 30rem;
    width: 100%;
    background-size: cover;
  }
  .article-description {
    text-align: center;
  }
  .member-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    margin-top: 5vh;
    margin-bottom: 0;
    border-radius: 15px;
  }
  .member-decoration {
    display: none;
  }
  .member-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 0;
  }
  .Member-removed {
    display: none;
  }
  .main-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
  }
}


@media (max-width: 576pxpx) {
  #team-image {
      width: 35% !important;
      margin-left: -805px !important;
  }
}


/* START ABOUT US PAGE */
body
{
  background-color: white;
}
.about-us-main-typography {
  font-size: 3em;
  font-weight: bolder;
  text-align: left;
  padding: 7px;
}
#above_arrow {
  position: absolute;
  top: 0;
  left: 0;
}
#secondabove_arrow {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg);
}
.about-us-main-typography {
  width: 48%;
}
.about-us-image-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  min-height: 50vh;
}
.about-us-blue-box {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40%;
  width: 50%;
  background-color: #00287a;
}
.about-us-gray-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50%;
  width: 50%;
  background-color: #dddde7;
}
.about-us-image {
  position: absolute;
  top: 0px;
  right: 10%;
  height: 80%;
  width: 80%;
  background-image: url(../assets/images/man-red-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.about-us-biogragphy {
  position: relative;
  background-color: rgba(232, 235, 243, 0.38);
  padding: 2rem;
  margin-bottom: 8vh;
  text-align: center;
}
#about-us-second-paragraph {
  background-color: white;
  border: 2px solid rgba(112, 112, 122, 0.38);
}
#about-us-last-paragraph {
  background-color: white;
  border: 2px solid rgba(112, 112, 122, 0.42);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Our-div {
  position: relative;
  width: 100%;
  display: flex;
}
#our-vision {
  position: relative;
  border-left: 18px solid #00287a;
  width: 50%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 2rem;
}
#our-mission {
  position: relative;
  border-right: 18px solid #00287a;
  width: 50%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 2rem;
}
#vision-box {
  position: relative;
  height: 100%;
  width: 0.8rem;
  background-color: #00287a;
}
#our-mission {
  position: relative;
  width: 50%;
}
@media all and (max-width: 1200px) {
  .about-us-image-container {
    position: relative;
    width: 100vw;
    min-height: 60vh;
  }
  .about-us-typography-container {
    width: 100%;
    text-align: center;
    flex: 0 0 0;
    display: flex;
    justify-content: center;
  }
  .create-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-main-typography {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0px;
    text-align: center;
    font-size: 1.5em;
    margin: 0.3rem;
  }
  #Our-div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #our-vision {
    width: 100%;
    min-height: 15rem;
    margin-bottom: 15vh;
  }
  #our-mission {
    width: 100%;
    min-height: 15rem;
  }
}

/* Contact US Page */

#the-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 5vh;
  min-height: 50vh;
}
#form-mail-inputs {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
#Name-input {
  position: relative;
  width: 47.5%;
  background-color: #fdfdfd;
}
#Email-input {
  position: relative;
  width: 47.5%;
  margin-left: 5%;
  background-color: #fdfdfd;
}
#form-message {
  height: 8rem;
  background-color: #fdfdfd;
}
#form-button {
  width: 40%;
  background-color: #00287a;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 21px;
}
.contact-us-image {
  position: relative;
  width: 30vw;
  height: 26rem;
  background-color: white;
  background-image: url(../assets/images/Contactuspana.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-us-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.contact-us-paragraph{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media all and (max-width: 1200px) {
  .contact-us-image {
    display: none;
  }
  #the-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right:100px ;
    margin-left:100px ;
  }
  .contact-us-paragraph {
    text-align: center;
    width: 100%;
  }
  .member-holder{
    margin-bottom: 0;
    min-height: 0px;
  }
  .active{
    border: none;
    color: #3570eb !important;
  }
  .active-plus{
    border: none;
    color: #3570eb !important;
  }
  #form-mail-inputs{
    flex-direction: column;
  }
  #Name-input {
    position: relative;
    width: 100%;
  }
  #Email-input {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-top: 2rem;
  }
  .heade-item{
    margin-left: 4rem;
  }
}

/* article details section */

.article-details-content{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-details-header{
  font-size: 49px;
  font-weight: bolder;
  line-height: 65px;
}
.article-details-paragraph{
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  font-family: Roboto;
}
.article-details-information{
  position: relative;
  margin-top: 2rem;
  margin-bottom: 6rem;
  background-color: #7070700e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-details-image{
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: url(../assets/images/rs4492_177531624-low.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0%;
  margin-bottom: 6rem;
}
.article-details-paragraphs{
  width: 90%;
  font-size: 27px;
  line-height: 37px;
  text-align: left;
  font-family: Roboto;
  opacity: 0.65;
  border-left: 5px solid rgba(112, 112, 122, 0.15);
  padding-left: 2rem;
  margin-bottom: 4rem;
}

.show-more{
  display: flex;
}

/* ------------------------------------ */

.about-us-biogragphy p {
  color: rgba(0, 0, 0, 0.666);
  font-size: 22px;
}
@media (max-width: 768px) {
  .about-us-biogragphy p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .sec1 h1 {
    font-size: 20px !important;
  }
  .sec1 a {
    font-size: 16px !important;
  }
}

.member-reflexive .item {
  height: auto !important;
}

.member-reflexive .item .img-box {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #00287a1c;
}

.member-reflexive .item .img-box img {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.member-reflexive .item .name {
  color: #2B2B2B;
  font-size: 24px;
}

.member-reflexive .item .jop {
  color: #2B2B2B;
  opacity: 0.67;
}